# Folders #
###########
__pycache__/
.ipynb_checkpoints/
data/

# Logs, Data, and Databases #
#############################
*.log
*.csv
*.dss
*.dsc
*.dsk
*.sql
*.sqlite
*.db
*.xlsx
*.json

# Compiled Source #
###################
*.dll
*.pyc

# Other #
#########
*.txt

# Exceptions #
##############
!bin/heclib_x64.dll
